<form method="POST" action="/prehistoric_creatures">
    <label for="oldDinoName">Type</label>
    <input id="oldDinoName" type="text" name="type">
    <label for="oldDinoType">Img_Url</label>
    <input id="oldDinoType" type="text" name="img_url">
    <input type="submit" value="Add a Prehistoric Dino 🦖">
</form>